#! /usr/bin/env bash

# Example environment - Save as .env.local and customize the REQUIRED variables.

# DO NOT ADD SECRETS to this file since it is versioned in git.
# If you've forked this repo, feel free to edit.
#   .env - defaults which apply across all deployments
#   .env.development - for local development on everyone's laptop/desktop.
#   .env.production - overrides for production
# Secrets and personal overrides can be in local files (not versioned in git):
#   .env.local
#   .env.development.local
#   .env.production.local


############ REQUIRED vars should be set for your company ############

#### Site Apperance

# Used for Page Header etc.
NEXT_PUBLIC_COMPANY_NAME="Acme Anvils"
NEXT_PUBLIC_BUILD_VERSION="Wile Ethelbert's Development Env"

#### Notehub API Environment Vars

#### REQUIRED

HUB_API_CLIENT_ID=aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
HUB_API_CLIENT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HUB_DEVICE_UID=dev:000000000000000,dev:000000000000001
HUB_PROJECTUID=app:00000000-0000-0000-0000-000000000000

#### OPTIONAL

# If you would like to override the Notehub API base URL
HUB_BASE_URL=https://api.notefile.net

# Unsafe, print out all environment variables, including tokens, to server log.
#DEBUG_CONFIG=true

############ Microsoft Azure Cloud Deployment Config ############

#### REQUIRED

# Subdomain to use to access your site.
AZURE_SUBDOMAIN=acmesparrow

# The name of your docker hub account.
DOCKER_HUB_ACCOUNT=acmeanvil

# The azure docker context as listed by `docker context ls`
AZURE_DOCKER_CONTEXT=acme-aci

#### Optional

# If your company uses servers in a different region of the world.
AZURE_REGION=eastus

# Where will the site be viewable by users? (This will affect SSL certs.)
# This is safe to leave as-is for deploying on Azure.
STARTER_SITE_DNS="$AZURE_SUBDOMAIN.$AZURE_REGION.azurecontainer.io"

# Change if you deploy multiple versions of the site on one docker hub.
SPARROW_SITE_DOCKER_IMAGE="$DOCKER_HUB_ACCOUNT/sparrow-starter-site"
