.cardStyle {
  width: 400px;
  -webkit-box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  border: 0.2rem solid transparent;
  margin: 7px;
  padding: 0 8px;

  .cardContents {
    list-style-type: none;
  }
}
