@import "_variables.scss";

.cardStyle {
  width: 47.5%;
  // -webkit-box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  // box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  // border: 0.2rem solid transparent;
  margin: 5px 0;
  padding: 0 14px;

  :global .ant-card-head-title {
    line-height: 13px;
    padding: 14px 0 6px 0;
  }

  .timestamp {
    color: $bw-color--grey4;
    font-size: 10px;
  }

  .locationWrapper {
    padding-top: 4px;

    .locationTitle {
      font-size: 12px;
      // padding-right: 7px;
    }

    .location {
      font-size: 12px;
      font-weight: 600;
    }
  }

  :global .ant-card-body {
    padding: 0;
  }

  :global .ant-card-extra {
    padding-top: 0;
    position: relative;
    top: -5px;
  }

  .cardContents {
    list-style-type: none;
    display: flex;
    padding: 10px 0 20px 0;
    margin-bottom: 0;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;
      width: auto;
      font-size: 14px;

      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}
