@import "_variables.scss";

.footerDivider {
  margin: auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: clamp($page-content-xs, $page-content-md, calc(100vw - 20%));
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: clamp($page-content-xs, $page-content-md, calc(100vw - 20%));
  margin: auto;
  padding: 24px 0 !important;
}
