@import "_variables.scss";

.footerDivider {
  width: 100%;
  margin: auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 960px;
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
