@import "_variables.scss";

.header {
  // required to override default Ant Design component styling
  padding: 12px 30px !important;
  height: 90px !important;
  a {
    display: block;
    height: 35px;
  }
  h2 {
    color: $bw-color--brand1;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}
