@import "_variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 64px !important;

  .logo {
    display: flex;
    align-items: center;
  }

  .headerText {
    color: #fff;
    font-size: 15px;
  }
}
