@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
  }

  .groupedCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h2 {
    margin-top: 40px;
  }
}
