@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
  }
}

.sectionTitle,
.sectionSubTitle {
  font-weight: 600;
}

.sectionTitle {
  margin-bottom: 0;
  font-size: 20px;
}

.sectionSubTitle {
  margin-top: 20px;
  font-size: 18px;
}

.sectionSubHeader {
  color: $bw-color--grey4;
  font-size: 16px;
}

@media screen and (max-width: $breakpoints-md) {
  .sectionTitle {
    font-size: 22px;
  }

  .sectionSubTitle {
    font-size: 20px;
  }

  .sectionSubHeader {
    margin-top: -5px;
    margin-bottom: 24px;
  }
}
