@import "_variables.scss";

.container {
  .errorMessage {
    text-align: center;
  }

  .groupedCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
