@import "_variables.scss";

#mainContent {
  min-height: calc(100vh - $header-bar-height - $footer-bar-height);
  width: clamp($page-content-sm, $page-content-md, calc(100vw - 15%));
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}

@media screen and (max-width: $breakpoints-md) {
  #mainContent {
    width: clamp($page-content-xs, $page-content-sm, calc(100vw - 15%));
  }
}
