@import "_variables.scss";

.mainContent {
  min-height: calc(100vh - $header-bar-height - $footer-bar-height) !important;
  width: $page-content-md;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
